<footer>
    <div class="footer">
        <div class="contact">
            <h4>Phone</h4>
            <p><i class="fa-solid fa-phone icons"></i>+910000001</p>
            <h4>Email</h4>
            <p><i class="fa-solid fa-envelope icons"></i>Xyz@gamil.com</p>
        </div>
        <div class="branch">
            <h4>Our Branches</h4>
            <p>New Delhi</p>
            <p>Mumbai</p>
            <p>Jaipur</p>
        </div>
        <div class="foot-about">
            <h4>About</h4>
            <p>Lorem ipsum dolor sit ametistedeleniti<br>
                distinctio velit dolorem aliquid culpa minus odio fuga<br>
                perferendis placeat mi.</p>
        </div>
    </div>
</footer>