<% layout("/layouts/boilerplate") %>
<section>
<div class="admin-sec">
    <div class="sec-one">
        <a href="/home/admin/member"><div class="members">Members</div></a>
        <a href="/home/admin/new"><div class="add-pro">Add Member</div></a>
        <a href="/home/store"><div class="products">Products</div></a>
        <a href="/home/admin/newproduct"> <div class="add-product">Add Products</div>
        </a>
        
    </div>
</div>
</section>