<% layout("/layouts/boilerplate") %>
<section>
    <div class="home" id="home-id">
       <div class="home-content">
          <h3>CARDIO FITNESS</h3>
          <h1>No Pain, No Gain</h1>
          <h3>Best Gym of <span>India</span> </h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
           <div class="social-media">
             <a href="#"><i class="fa-brands fa-instagram"></i></a>
             <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
             <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
             <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
           </div>
       </div>
    
    
    <div class="home-img">
       <img src="css/gym.avif" alt="photo" >
    </div>
    </div>
    </section>

    <section>
        <div class="about-sec">
        <div class="about-img">
            <img src="css/yoga.avif" alt="photo" />
        </div>
    
        <div class="about">
            <h3>ABOUT US</h3>
            <p>Welcome to CARDIO FITNESS, your ultimate fitness destination! We are dedicated to helping you achieve your health and wellness goals in a supportive and energetic environment. Whether you're a seasoned athlete or just starting your fitness journey, we offer state-of-the-art equipment, professional trainers, and a variety of classes to suit every need.
    
                At CARDIO FITNESS, we believe in empowering individuals to lead healthier lives. Join us to build strength, improve endurance, and find the best version of yourself. Together, let’s break barriers and redefine fitness!</p>
        </div>
        </div>
        </section>

        <section>
            <h4 class="Membership">Our Membership</h4>
          <div class="package">
            <div class="package-des">
                <h3>3 Month Membership </h3>
                <h2>$69</h2>
                <hr>
                <p class="para">Diet Plans</p>
                <p class="para">Mentors</p>
                <p class="para">International Equipments</p>
                <p class="para">Weekly Progress</p>
                <button class="start-btn" id="start-1">Start Now</button>
            </div>
            <div class="package-des">
              <h3>6 Month Membership </h3>
              <h2>$99</h2>
              <hr>
              <p class="para">Diet Plans</p>
              <p class="para">Mentors</p>
              <p class="para">International Equipments</p>
              <p class="para">Weekly Progress</p>
              <p class="para">Personal Trainers</p>
              <button class="start-btn" id="start-2">Start Now</button>
          </div>
          <div class="package-des">
            <h3>3 Month Membership </h3>
            <h2>$149</h2>
            <hr>
            <p class="para">Diet Plans</p>
            <p class="para">Mentors</p>
            <p class="para">International Equipments</p>
            <p class="para">Weekly Progress</p>
            <p class="para">Personal Trainers</p>
            <p class="para">24*7 Support</p>
            <button class="start-btn" id="start-3">Start Now</button>
        </div>
          </div>
        </section>

        <section>
            <h3 class="serv">Our Services</h3>
            <div class="service">
                <div class="service-box">
                    <img src="css/dance.avif" />
                    <p>Dance</p>
                </div>
                <div class="service-box">
                    <img src="css/cupping.avif" />
                    <p>Cupping Therapy</p>
                </div>
                <div class="service-box">
                    <img src="css/yoga 1.avif" />
                    <p>Yoga</p>
                </div>
                <div class="service-box">
                    <img src="css/zumba.avif" />
                    <p>Zumba</p>
                </div>
                <div class="service-box">
                    <img src="css/cafe.avif" />
                    <p>Cafe in Gym</p>
                </div>
                <div class="service-box">
                    <img src="css/cardio.avif" />
                    <p>Cardio</p>
                </div>
            </div>
        </section>
    
